<!DOCTYPE html>
<html>
<head>
    <title>Moja Aplikacja</title>
</head>
<body>
    <header>
        <h1>Moja Aplikacja Flask</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/credentials">Credentials</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        &copy; 2023 Programowanie aplikacji internetowych
    </footer>
</body>
</html>
